.datePicker
   h1 Найдем номера под ваши пожелания
   .selectBox
      .selectBoxItem
         h3 Приpбытие 
         input(placeholder="ДД.ММ.ГГГГ" type='date')
      .selectBoxItem
         h3 Выезд 
         input(placeholder="ДД.ММ.ГГГГ" type='date')
   
   .selectBoxItemGuest
      h3 Гости
      .select
         .select__header
            span.select__current Сколько гостей
         .select__body
            .select__item
               span Взрослые
               .dropDownItemCount
                  button.dropDownButton.dropDownMinus(type="submit") -
                  span.Count 0
                  button.dropDownButton.dropDownPlus(type="submit") +
            .select__item 
               span Дети
               .dropDownItemCount
                  button.dropDownButton.dropDownMinus(type="submit") -
                  span.Count 0
                  button.dropDownButton.dropDownPlus(type="submit") +
            .select__item
               span Младенцы
               .dropDownItemCount
                  button.dropDownButton.dropDownMinus(type="submit") -
                  span.Count 0
                  button.dropDownButton.dropDownPlus(type="submit") +
            .dropDownMainButtons
               button(type='submit').dropDownMainButton.ButtonClear очистить
               button(type='submit').dropDownMainButton.ButtonApplay применить
      +ButtonArrow('Подобрать номер')