.containerSigIn
    h1 Войти
    .inputContainer
        input(placeholder="Email" type='e-mail').inputArea
        input(placeholder="Пароль" type='password').inputArea
        button.MainButton Войти
            .arrow
    .regisrationContainer 
        p Нет аккаунта на Toxin?
        button.buttonTransparent.butonCreate Создать
