extends ../layout/main

block variables
  - var title = 'Войти';
  - var description = 'Description for Webpack + Pug';
  - var pageClass = 'sigoin-page';

block content
  section
    include ../includes/modules/sigin
  example-component
